* {
    box-sizing: border-box;
   
}

body {
    display: grid; 
    overflow: hidden;
   /* background-image: linear-gradient(rgb(243, 97, 12),greenyellow); */
   height: 100vh;
    background-image:  url("images2/fall_trees.jpg");
    background-size: contain;
    /* background-color: rgb(221, 207, 16); */
}
.header {
    /* background-image: url("images2/treecut.png");
    background-size: contain; */
    background-color: rgba(237, 235, 161, 0.8);
    /* border: 2px solid orangered; */
    border-radius: 15px;
    display: grid;
    margin-bottom: 20px;
   
    /* text-shadow: 5px 2px brown; */
    
}

h1,h2,h3,p,#buttons,#level,#startButton {
    justify-self: center;
    align-self: center;
}

h1,h2,h3,p {
    color: orangered;
}

#buttons {
    margin: 10px;
}

#level,#startButton {
    /* padding-top: 20px; */
    position: absolute;
                left: 100px;
    background-color: rgba(220, 68, 13, 0.954);
    color: cornsilk;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    font-size: 1rem;
    
   
}

#gamespace {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
   
    /* inline-size: 70vw; */
    width: 70%;
    aspect-ratio: 2/1;
    background: greenyellow;
    border: 3px solid rgb(255, 123, 0);
    border-radius: 50px;
    background-image: url("images2/grass.png");
}

/* #vertical {
    left: 500px;
    border-left: 5px solid red ;
} */

#leftSide,#rightSide {
   
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
}

#rightSide {
    border-left:5px solid red ;
    margin-right: 5px;
    
}

img {
    width: 75px;
    height: 75px;
    position: absolute;
}

#bottomline {
    color: red;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
       
    border: 5px solid #2d5312d6;
    background-color: rgb(24, 52, 17);
    margin: 15% auto;
        padding: 20px;
        width: 50%;
        height: 50%;
    }

    #content {
        display: grid;
    }

    .close {
    color: #d81313;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }

    .close:hover,
    .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }